<html>
<head>
    <meta charset="utf-8"/>
    <title>Dropbox Cloud Login</title>
</head>
<body>
<div style="margin: 15% auto;">
    <div class="header_login">
        <h1 align = "center">Dropbox - Welcome to Cloud</h1>
    </div>
    <div class="content_login" style="text-align:center">
        <h2>Kindly login first to get access the Cloud Box</h2>
        <br>
        <a href="{{ url }}">
            <div class="button_element_login">
                Login
            </div>
        </a>
    </div>
</div>
</body>
</html>
